/* ------ RESET ------ */

/* ------ CUSTOM PROPOERTIES ------ */

/* TODO: Implement custom propoerties for colours, gaps?, outlines / borders */

/* ------ MAIN LAYOUT ------ */

body {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  /* TODO: Fill proper header: Title, mode selection, light/darkmode */
  font-size: 2rem;
  margin: 1rem;
}

/* TODO: Footer */

/* ------ GRIDS ------ */

.main-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.numpad-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 300px;
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
}

.operator-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  /* width: 150px; */
  grid-column: 4 / span 2;
  grid-row: 2 / span 2;
}

/* ------ GRID ITEMS ------ */

.display-container {
  border: 2px solid orangered;
  grid-column: 1 / span 5;
  padding: 1rem;
}

.main-display,
.sub-display {
  width: 100%;
  background: orange;
  text-align: right;
}

.main-display {
  height: 70%;
}

.sub-display {
  height: 30%;
}

/* TODO: Style buttons by section and purpose */
.btn {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  text-align: center;
}

/* TODO: outline & hover & focus effects */
